<div class="container">

    <h1 class="">Greetings</h1>
    <p class="resetMessage"></p>
    {{!-- <p>{{greeting}}</p> --}}




    <div class="numberAndName">

        <div>
            <form action="/greetings" method="POST">
                {{#if greeting}} <p class="name">{{greeting}}</p>{{/if}}
                {{#if errors}} <p class="red">{{errors}}</p>{{/if}}
                {{!-- {{#if successMessage}}
                <div class="success">
                    <p>{{successMessage}}</p>
                </div>
                {{/if}}

                {{#if errorMessage}}
                <div class="error">
                    <p>{{errorMessage}}</p>
                </div>
                {{/if}} --}}

                <label>Name</label>
                <input type="text" class="textArea" id="key" placeholder="Please enter name" name="userName">

                <div class="radioButton">
                    {{!-- <form action="/" method="POST"> --}}
                        <label class="">
                            <input type="radio" name="radioLanguage" class="radioBtn" value="english">
                            <span class="label-body">English</span>
                        </label>
                        <label class="">
                            <input type="radio" name="radioLanguage" class="radioBtn" value="afrikaans">
                            <span class="label-body">Afrikaans</span>
                        </label>
                        <label class="">
                            <input type="radio" name="radioLanguage" class="radioBtn" value="xhosa">
                            <span class="label-body">isiXhosa</span>
                        </label>
                        <br>

                        <button class="greetBtn" type="submit">Greet me</button>

                        {{!--
                    </form> --}}

                </div>

                <div class="number">
                    <h5>Name Counter: <span class="counter numberCounter">{{count}}</span></h5>
                </div>
        </div>


        </form>

        <div>
            <a href="/greeted">Names greeted</a>
            {{!-- href="/actions" --}}
        </div>
    </div>

    <div>




    </div>
    <div>

        {{!-- <button class="greetBtn" type="submit"> Greet me</button> --}}

        {{!-- <button class="resetBtn">Reset</button> --}}
    </div>
</div>